<h2>Have no idea about where to go?</h2>
<h3>Recommend places</h3>
<div id="recommendPics-div-origin">
    {{#each picsData}}
    <div class="recommend-pic">
        <img src="{{this.url.source_url}}" alt="{{this.name}}" width="384px" height="216px" class="image">
        <p>{{this.name}}</p>
        <p>Location: {{this.location_id}}</p>
        <p>Description: {{this.snippet}}</p>
    </div>
    {{/each}}
</div>
<div id="recommendPics-div-more" hidden></div>
<button id="more-button">More</button>
